*{ 
    padding:0%;
    margin:0%;
    box-sizing: border-box;
}
   
body{ 
   height:100vh;
   width:100%;
   background-color:#ffffff;
   background-image:url(assets/stethoscope.png);
   background-position:35% ;
   background-repeat: no-repeat;
   background-size:45%;
   margin: auto;
}
   
nav{ 
   padding:20px 5% ;
   display:flex; 
   align-items: center;
   justify-content:space-between;
}
   
nav img{ 
   width:180px;
}
   
nav ul{ 
   display:flex;
   align-items: center;
   justify-content:space-around;
}
   
ul li{ 
   list-style-type:none;
   margin-right:70px;
   font-weight:600PX;
   font-size:18PX;
   font-family:sans-serif;
   cursor:pointer;
}
   
ul li:nth-child(1){ 
    color:#38CC77;
    font-weight: 600;
}
   
ul li:hover{ 
    color:#38CC77 ;
}

main{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
   
.left-main{
    margin-left:5% ;
}

.left-main .top{ 
    width:30PX;
    margin-top:5% ;
}
   
.left-main h1{ 
    font-size:5rem;
    font-weight: bolder;
    font-family: 'Work Sans', sans-serif;
    line-height:1.3em;
}

.left-main P{ 
    padding-top:5% ;
    font-size:20PX;
    font-weight: 350;
    font-family: 'Work Sans', sans-serif;
    color:#808080 ;
    line-height: 1.3em 0;
}

.left-main .bottom{ 
    width:30px;
    position:absolute;
    top:80% ;
    left:49%;
}

.left-main button{ 
    padding:20px 35px;
    border:none ;
    background-color:#38CC77;
    color:#ffffff;
    font-size:28px ;
    font-family:sans-serif;
    font-weight:600 ;
    border-radius:50px;
    margin-top:5% ;
    cursor: pointer;
}

.left-main button:hover{
   background-color: #fff;
   color:#38CC77; 
   border:2px solid #38CC77;
}

.left-main .mouse{ 
    margin-left:105% ;
}
   
.green, .yellow{
    position: absolute;
    right: 0;
}

.green{
    width: 35%;
    bottom: 30px;
}

.yellow{
    width: 30%;
    bottom: 50px;
}

.doctor{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 90%;
}


@media screen {
    
}