*{ 
 padding:0%;
 margin:0%;
 box-sizing: border-box;
}

.body{ 
  height:100vh;
  width:100%;
}

nav{ 
  width:100%;
  padding:35px 8%;
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.nav-bar{ 
    display: flex;
    align-items: center;
}

.nav-bar img{ 
   width:100px; 
}

.nav-bar ul{ 
    display: flex;
}

.nav-bar ul li{ 
    display:inline-block;
    list-style-type: none;
    margin-left:50px;
    font-size:600 ;
    font-size:14px ;
    font-family: sans-serif ;
    cursor: pointer;
}

.nav-bar ul li a{ 
    text-decoration: none;
    color: #808080;
}

.nav-bar .list-items a{ 
    color:#000000;
    font-weight:500;
}

.nav-bar ul li a:hover{ 
   color:#000000;
}

nav button{
    border:none;
    outline:0;
    background-color:#4b4fbb;
    color:#ffffff;
    font-size:14px;
    font-family:sans-serif ;
    padding:15px 25px;
    border-radius:9px;
    margin-top:10px;
    position: relative;
    left:25%;
}

nav button:hover{ 
    background: #723f82; 
} 

main{ 
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
}

.left-section{ 
    margin-left:8%;
    position:relative;
    top:65px;
}

.left-section h1{ 
   font-size:4rem;
   font-family:'Poppins', sans-serif;
   color:#21042a ;
   line-height:1.2em;
}

.left-section h1 span{ 
    color:#524eb7;
}

.left-section p{ 
    padding-top:20px;
    font-family: sans-serif;
    font-size:14px;
    line-height:1.5em;
    color:#808080;
}

.left-section button{ 
    margin-top:2.5rem;
    padding:20px 40px ;
    color:#ffffff;
    border:none;
    outline:0;
    background-color:#4b4fbb;
    border-radius:15px;
    font-size:14px ;
    font-family: sans-serif;
}

.left-section button:hover{ 
    background: #723f82;
} 

.right-section img{ 
    width:100%;
    height:80%; 
}

.menu-icon i{ 
   display: none;
}

.menu-icon.active i {
    display: none;
}

@media screen and (max-width:992px){
    .nav-bar ul li { 
        margin-left:30px;
    }

    .left-section{ 
        top:100px;
    }

    .left-section h1{ 
        font-size:3.5rem;
        font-family:'Poppins', sans-serif;
        line-height:1.1em;
    }
     
    .right-section img{ 
        height:75%;
        margin-top:55px; 
    }

    .left-section button{ 
        margin-top:1.5rem;
        padding:0.8rem 1.5rem;
        color:#ffffff;
        border:none;
        outline:0;
        background-color:#4b4fbb;
        border-radius:15px;
    }
}


@media screen and (max-width:768px){
    nav img{ 
        margin-bottom:158px;
    } 
    
    .nav-bar ul{ 
        display:flex;
        gap:20px;
        flex-direction: column;
        position: relative;
        top:48px;
        left:210%;
    }

    .nav-bar ul li{ 
        font-size:1.2rem;
    }

    .nav-bar ul li:hover{ 
        color:#000000;
    }

    .active{ 
        opacity: 0;
    }
    
    nav button{
        display: none;
    }
    
    main{ 
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;
    }
      
    .left-section{ 
        position: absolute;
        top:32%;
    }
    
    .left-section h1{ 
        font-size:3.2rem;
        font-family:'Poppins', sans-serif;
        line-height:1.1em;
    }
      
    .left-section p{ 
        margin-top:1rem;
        font-size:1rem;
    }

    .right-section img{ 
        display: none;
    }

    .left-section button{ 
        margin-top:2rem;
        padding:1rem 1.6rem;
        font-size:1.1rem;
        border-radius:15px;
        cursor: pointer;
    }
     
    .menu-icon i{ 
        display:inline-block;
        color:#000000;
        font-size:25px;
        padding-bottom:160px;
        cursor: pointer;
    }
}


